.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--header-border-color);
}

.header__main-nav {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-left: 93px;
}

.header__contacts {
  margin-left: auto;
}
